<div class="col-xs-12 col-md-8 col-md-offset-2" id="blog">
  <% if current_client.present? && current_client.admin? %>
    <%= link_to "+ New post", new_blog_post_path, id: 'new-blog-post' %>
  <% end %>
  <% @blog_posts.each do |blog_post| %>
    <div class="blog-post">
      <h3><%= link_to blog_post.title.html_safe, blog_post %></h3>
      <div class="blog-post-body">
        <%= blog_post.body.html_safe %>
      </div>
      <% if current_client.present? && current_client.admin? %>
        <div class="blog-post-links">
          <%= link_to "Edit", edit_blog_post_path(blog_post) %>
          <%= link_to "Delete", blog_post, method: :delete, class: 'delete-post' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
