<div class="col-xs-12 col-md-8 col-md-offset-2" id="blog">
  <div class="blog-post">
    <h3><%= @blog_post.title.html_safe %></h3>
    <div class="blog-post-body">
      <%= @blog_post.body.html_safe %>
    </div>
    <% if current_client.present? && current_client.admin? %>
      <div class="blog-post-links">
        <%= link_to "Edit", edit_blog_post_path(@blog_post) %>
        <%= link_to "Delete", @blog_post, method: :delete, class: 'delete-post' %>
      </div>
    <% end %>
    <% if current_client %>
      <%= render partial: 'comments/form', locals: { comment: @comment } %>
    <% else %>
      <%= link_to "Sign In", new_client_session_path %>
      or
      <%= link_to "Register", new_client_registration_path %>
      to leave a comment
    <% end %>
    <div id="comments" class="margin-top">
      <%= render partial: 'comments/comment', collection: @comments %>
    </div>
  </div>
</div>
