<% item = item_view_1 %>
<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="queue-image" data-queue-image-id="<%= item.id %>">
    <div class="images-wrapper">
      <%= link_to queue_image_path(item), class: 'queue-image-link' do %>
        <% if item.content.image && item.content.image.thumb400.file.exists? %>
          <%= image_tag(item.content.image.thumb400.url, class: 'original') %>
        <% elsif item.content.image %>
          <%= image_tag(item.content.image.thumb200.url, class: 'original') %>
        <% end %>
        <%= image_tag(item.result_image.imageurl.thumb400.url, class: 'styled') if item.result_image %>
      <% end %>
    </div>
    <div class="queue-image-ifc">
    <% if current_client %>
      <%= link_to 'Use Style', new_queue_image_path(style: item.style.id), class: "use-style" %>
    <% else %>
      <%= link_to 'Use Style', new_client_session_path %>
    <% end %>
    <%= link_to 'Comments', queue_image_path(item) %>
    <%= render partial: 'queue_images/like_link', collection: [item] %>
    </div>
  </div>
</div>
