<% classes = "like_panel_#{item.id}" %>
<% classes << ' liked' unless policy(item).like_image? || !client_signed_in? %>

<% if client_signed_in? %>
  <% if item.client != current_client %>
    <% if policy(item).like_image? %>
      <%= link_to("/queue_images/#{item.id}/like", class: classes, method: :put, remote: true) do %>
        <%= item.likes_count %>
      <% end %>
    <% else %>
      <%= link_to("/queue_images/#{item.id}/unlike", class: classes, method: :put, remote: true) do %>
        <%= item.likes_count %>
      <% end %>
    <% end %>
  <% else %>
    <div class="<%= classes %>">
      <%= item.likes_count %>
    </div>
  <% end %>
<% else %>
  <%= link_to(new_client_registration_path, class: classes, method: :put, remote: true) do %>
    <%= item.likes_count %>
  <% end %>
<% end %>