
<div id="view_style">

  <p>Choose from the Style Library or create a new style by uploading an image from a style image file. Rendering a new image using Style Library takes only a few seconds to a few tens of seconds. Creating a new style can take up to a day and you will be notified by email when the style is ready.</p>
  

  <%= link_to "from Style Library", url_for(controller: 'queue_images', action: 'new', view_style: ConstHelper::VIEW_STYLE_FROM_LIST), remote: true, class: "btn btn-large btn-default" %>
  <%= link_to "Add a new style", url_for(controller: 'queue_images', action: 'new', view_style: ConstHelper::VIEW_STYLE_LOAD_FILE), remote: true, class: "btn btn-large btn-success"  %>

  <% if view_style == ConstHelper::VIEW_STYLE_LOAD_FILE %>
    <div class="field">
      <br>
      <%= label_tag "Load style image file:"%><br>
      <%= file_field_tag 'queue_image[style_image]'%>
    </div>
    <% if @tags %>
      <div class="field">
        <div class="wrapper-tags">
            <% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
              <%= label_tag "tags_#{tag.name}", tag.name, :class => css_class %>
              <%= check_box_tag 'tags[]', tag.name, nil, { multiple: true, id: "tags_#{tag.name}", class: "checkbox_tag" }  %>
            <% end %>
        </div>
      </div>
    <% end %>
    <% if policy(queue_image).process_params?%>
      <div class="field">
        <%= label_tag "initialization Parameters:"%><br>
        <%= text_field_tag 'queue_image[init]', "-gpu 0 -backend cudnn -image_size 700 -style_scale 1 -num_iterations 1000" %>
      </div>
      <div class="field">
        <%= label_tag "Status after treatment:"%><br>
        <%= number_field_tag 'queue_image[end_status]', 101 %>
      </div>
    <% end %>
  <% end %>

  <% if view_style == ConstHelper::VIEW_STYLE_FROM_LIST%>
      <% if @tags %>
        <div>
          <div class="wrapper-tags">
              <% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
                <%= label_tag tag.name, nil, :class => css_class %>
              <% end %>
              <div id="unselect-all">Unselect all</div>
          </div>
        </div>
      <% end %>
      <div>
        <div id="styles">
          <%= render partial: "show_styles", locals: {styles: @styles} %>
        </div>
      </div>
  <% end %>

  <%= hidden_field_tag 'queue_image[view_style]', view_style %>

</div>