<div class="container">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">

      <%= form_for(@queue_image) do |f| %>
          <div class="actions">
          <%= f.submit "Render an image", class: "btn btn-large btn-primary" %>
          </div>
          <br>
          <div class="field">
            <%= f.label "Rendered image:" %><br>
            <%= f.file_field :content_image %>
          </div>

          <%= render :partial => "view_style", :locals => {view_style: @view_style, :queue_image => @queue_image} %>

      <% end %>
      <% if @tags %>
        <%= form_tag tagged_styles_path, method: :post, remote: true, id: "tags_form" do %>
          <% @tags.each do |tag| %>
            <%= check_box_tag tag.name %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>