<div class="container">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <% if @maximum_reached %>
        <div class="alert alert-danger">
          You have add <%= @non_premium_image_count %> non-premium images, which reached the max limit for non-premium images. The older image will be deleted when you add new non-preium image. Remove older images you don't like or consider premium images
        </div>
      <% end %>
      <%= form_for(@queue_image) do |f| %>
        <div>
          <div>
            <%= f.label "Your image:" %>
            <%= f.file_field :content_image %>
          </div>
          <div>
            <b>Mixing level</b> <%= link_to "(what's this?)", mixing_level_path %><br>
            High<%= f.radio_button :mixing_level, 'high', checked: (@mixing_level == nil || @mixing_level == 'high') ? true : false, style: "width: 10%"%>
            Medium<%= f.radio_button :mixing_level, 'medium', checked: @mixing_level == 'medium' ? true : false, style: "width: 10%"%>
            Low<%= f.radio_button :mixing_level, 'low', checked: @mixing_level == 'low' ? true : false,style: "width: 10%"%>
          </div>
          <div>
            <b>Use Premium Service?</b> <%= link_to "(what's this?)", premium_path %><br>
            No<%= f.radio_button :is_premium, false, checked: (@is_premium == 'false' || @is_premium == nil) ? true : false, style: "width: 10%"%>
            Yes<%= f.radio_button :is_premium, true, checked: @is_premium == 'true' ? true : false, style: "width: 10%"%>
          </div>
        </div>
        <%= render :partial => "view_style", :locals => {view_style: @view_style, :queue_image => @queue_image} %>
        <div class="actions">
          <%= f.submit "Render an image", class: "btn btn-large btn-primary" %>
        </div>
      <% end %>
      <p>Want a new style? Please email style image to <a href="photopaint.us@gmail.com">photopaint.us@gmail.com</a></p>
    </div>
  </div>
</div>
