<div class="container">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <% if @maximum %>
        <div class="alert alert-danger">
          You have a maximum number of non-premium images, the older image will be deleted if you won't use premium
        </div>
      <% end %>
      <%= form_for(@queue_image) do |f| %>
        <div class="actions">
          <%= f.submit "Render an image", class: "btn btn-large btn-primary" %>
        </div>
        <br>
        <div class="overflow-y-scroll">
        <div class="field">
          <%= f.label "image to be rendered:" %><br>
          <%= f.file_field :content_image %>
          <b>Mixing level(what's this?)</b><br>
    	    higher mixing level leads to stronger stylization effect<br>

    	    High<%= f.radio_button :mixing_level, 'high', checked: (@mixing_level == nil || @mixing_level == 'high') ? true : false, style: "width: 10%"%>

    	    Medium<%= f.radio_button :mixing_level, 'medium', checked: @mixing_level == 'medium' ? true : false, style: "width: 10%"%>

    	    Low<%= f.radio_button :mixing_level, 'low', checked: @mixing_level == 'low' ? true : false,style: "width: 10%"%>
          <br>
          <b>Use Premium Service?</b>(what's this?)<br>
    	    No<%= f.radio_button :is_premium, false, checked: (@is_premium == 'false' || @is_premium == nil) ? true : false, style: "width: 10%"%>
    	    Yes<%= f.radio_button :is_premium, true, checked: @is_premium == 'true' ? true : false, style: "width: 10%"%>
        </div>
          <%= render :partial => "view_style", :locals => {view_style: @view_style, :queue_image => @queue_image} %>
        </div>
      <% end %>
      <% if @tags %>
        <%= form_tag tagged_styles_path, method: :post, remote: true, id: "tags_form" do %>
          <% @tags.each do |tag| %>
            <%= check_box_tag tag.name %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
