
<div class="navbar navbar-fixed-top navbar-inverse  visible-lg" role="navigation">
  <div class="container headerStyle-lg">
      <div id="logo-lg">
        <%= link_to(image_tag('/logo1.png', class: "imagesStyle"), root_path )%>
      </div>

      <ul class="nav nav-pills pull-right">
        <% if client_signed_in? && current_client.admin? %>
            <li><%= link_to "Admin", admin_pages_main_path %></li>
        <% end %>
        <% if client_signed_in? %>

          <li><%= link_to "Create Images", new_queue_image_path, class: "btn btn-primary" %></li>

          <li>
            <%= link_to "My Collections",    queue_images_path %>
            <div data-tip="2" class="tip">
              -1 credit for each high resolution image. Earn credits by liking other images (3 per day) or just visiting the website (1 per day)
              <a class="btn">OK</a>
            </div>
          </li>
        <% end %>
        <li><%= link_to "Latest Arts", lenta_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Blog", blog_posts_path %></li>
        <% if client_signed_in? %>
          <li>
            <%= link_to "Log Out",  destroy_client_session_path, :method => :delete %>
          </li>
          <li class="avatar">
            <%= image_tag current_client.remote_avatar || current_client.avatar %>
          </li>
          <div id="credits">
            <%= current_client.credits %>
            <div data-tip="1" class="tip">
              Your credits amount
              <a class="btn">OK</a>
            </div>
          </div>
        <% else %>
          <li><%= link_to 'Sign In', new_client_session_path %></li>
        <% end %>
      </ul>

    <!-- /.nav-collapse -->
  </div>
  <!-- /.container -->
</div>


<div class="navbar navbar-fixed-top navbar-inverse  hidden-lg" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle navButtonStyle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div id="logo-xs">
        <%= link_to(image_tag('/logo1.png', class: "imagesStyle"), root_path) %>
      </div>
    </div>

    <div class="navbar-collapse collapse" aria-expanded="false">
      <ul class="nav navbar-nav">
        <% if client_signed_in? && current_client.admin? %>
            <li><%= link_to "ADMIN", admin_pages_main_path %></li>
        <% end %>
        <% if client_signed_in? %>
            <li><%= link_to "Create Images", new_queue_image_path %></li>
            <li style="border-top: 1px solid #000000;box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);" ><%= link_to "My Collections",    queue_images_path %></li>
        <% end %>
        <li ><%= link_to "Latest Arts",  lenta_path %></li>
        <li><%= link_to "About",    about_path %></li>
        <% if client_signed_in? %>
            <li><%= link_to "Log Out",  destroy_client_session_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to 'Sign In', new_client_session_path %></li>
        <% end %>
      </ul>
    </div>



    <!-- /.nav-collapse -->
  </div>
  <!-- /.container -->
</div>

<div class="hidden-lg" style="padding-bottom: 9%">
</div>
