<!DOCTYPE html>
<html>
  <head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8024423611464128",
    enable_page_level_ads: true
  });
</script>
<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58d1ecd666585d00122d5a00&product=inline-share-buttons"></script>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/shim' %>
    <%= analytics_init if Rails.env.production? %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <% if notice %>
        <label class="successMessage"><%= notice %></label>
      <% end %>
      <% if alert %>
          <label class="errorMessage"><%= alert %></label>
      <% end %>
      <% flash.each do |key, value| %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
